#$ composer update --optimize-autoloader
#$ vendor/bin/phpstan analyze

includes:
    # @see https://github.com/phpstan/phpstan-src/blob/master/conf/bleedingEdge.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
    # Include this extension
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    bootstrapFiles:
        - %currentWorkingDirectory%/phpstan-bootstrap.php
    # bootstrap: phpstan-bootstrap.php
    level: max
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - %currentWorkingDirectory%/src/
    excludes_analyse:
         - %currentWorkingDirectory%/tests
    scanFiles:
    scanDirectories:
        - %currentWorkingDirectory%/src/
    ignoreErrors:
        # Uses func_get_args()
        - '#Function p2p_register_connection_type not found\.#'
        - '#Function register_extended_post_type not found\.#'
        - '#Function register_extended_taxonomy not found\.#'
        - '#^Function apply_filters invoked with 3 parameters, (.+) required.$#'
        - '#^Parameter \#2 \$function_to_add of function add_action expects callable\(\): mixed, array\(mixed, mixed\) given\.$#'
        - '#^Parameter \#2 \$function_to_add of function add_filter expects callable\(\): mixed, array\(mixed, mixed\) given\.$#'
        #- '#^Function do_action(_ref_array)? invoked with [3456] parameters, 1-2 required\.$#'
        #- '#^Function current_user_can invoked with 2 parameters, 1 required\.$#'
        #- '#^Function add_query_arg invoked with [123] parameters?, 0 required\.$#'
        #- '#^Function wp_sprintf invoked with [23456] parameters, 1 required\.$#'
        #- '#^Function add_post_type_support invoked with [345] parameters, 2 required\.$#'
        #- '#^Function ((get|add)_theme_support|current_theme_supports) invoked with [2345] parameters, 1 required\.$#'
        # https://core.trac.wordpress.org/ticket/43304
        # WP-CLI accepts a class as callable
        # Please consider commenting ignores: issue URL or reason for ignoring
