<phpunit
	bootstrap="tests/Unit/bootstrap.php"
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	syntaxCheck="true"
	verbose="true"
>
	<testsuites>
		<testsuite name="Unit Test">
			<directory suffix="Test.php">./tests/Unit</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src/Base</directory>
			<exclude>
				<directory suffix=".php">./vendor</directory>
			</exclude>
		</whitelist>
	</filter>
	<php>
		<ini name="display_errors" value="true"/>
	</php>
</phpunit>